.about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;
    border: solid wheat 2px;
}

.description{
    padding: 40px;
    margin: 50px;
    margin-top: -50px;
}

img{
    height: auto;
    max-width: 750px;
    width: 100%;
    margin-left: 10px;
}